body{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    background-image: linear-gradient(to right, rgba(159, 231, 236, 0), rgba(23, 180, 238, 1));
}

h1{
    letter-spacing: 20px;
}

h2{
    letter-spacing: 10px;
}

h1, h2{
    text-transform: uppercase;
    opacity: 0.5;
}



.colors{
    display: inline-block;
    padding: 0 1em;
}

.same-line{
    display: flex;
    justify-content: center;
}